@media screen and (max-width: 1088px) {
    .contenidoProyectos {
        display: flex;
        flex-direction:column;
        align-items: center
    }

    .sobremi {
        justify-content: space-evenly;
    }

    .tarjetaProyecto {
        width: 30%;
        height: 20rem;
    }

    .contenidoTarjeta,.contenidoTarjeta img {
        width: 100%
    }
}

@media screen and (max-width: 668px) {
    .contenidoSeccion {
        width:80%
    }
    .contenedorContenidoDatos {
        width: 80%;
    }
    .foto {
        height: 90%;
    }
    .tarjetaProyecto {
        width: 50%;
    }
}

@media screen and (max-width: 628px) {
    .lenguajes ul {
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(3,1fr)
    }
}

@media screen and (max-width: 480px) {
    .contenedorBienvenida {
        text-align:center
    }

    .contenidoSeccion {
        margin: 22px
    }

    .datos-imagen {
        display: flex;
        justify-content: center
    }

    .contenedor {
        width: 290px;
        display: flex
    }

    .lenguajes li {
        margin: 40px 20px 20px
    }

    .fila,.tarjetaProyecto {
        height: 18rem;
    }
    .contenedorImagenDatos {
        height: 100vh;
        flex-direction: column;
    }
    .contenedorContenidoDatos {
        height: auto;
        width: 70%;
    }
    .contenidoImagen {
        height: 30%;
        width: 100%;
    }
    .foto {
        height: 100%;
    }
    .nombre {
        font-size: 4rem;
    }
}

@media screen and (max-width: 394px) {
    .contenedorImagenDatos {
        height: 100vh;
        flex-direction: column;
    }
    .contenedorContenidoDatos {
        height: 55%;
        width: 80%;
        padding-top: 0px;
    }
    .contenidoImagen {
        width: 100%;
        height: 35%;
    }
    .foto {
        height: 100%;
    }
    .nombre {
        font-size: 4rem;
    }
}

